// DateRangePicker right border not showing NEED FIX

.greeting-navbar {
  color: #FF5A5F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 15px;
}

.airbnb-logo-img {
  position: relative;
  left: 15px;
  height: 30px;
  width: 30px;
}

.greeting-user {
  display: flex;
  width: 200px;
  justify-content: space-around;
}

.greeting {
  background-image: image-url("greeting_background.jpg");
  background-color: #cccccc; // Used if image in unavailable.
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.greeting-search-wrapper {
  // padding-top: 10px;
  // padding-left: 70px !important;
  // padding-right: 24px !important;
  // max-width: 1080px !important;
  // margin: 0 auto !important;

  position: relative;
  top: 100px;
  left: 100px;
  // align-self: center;
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
}

.greeting-search {
  border: 1px solid transparent;
  border-radius: 4px;
  width: 442px !important;
  padding: 32px !important;
  display: flex;
  flex-direction: column;
  // align-items: center;
  background-color: white;
}

.search-h1 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 5px;
}

.search-p {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.3px;
  margin-bottom: 15px;
}

.greeting-search-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting-search-tag {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 5px 0;
}

.location-input {
  border: 1px solid lightgray;
  padding: 12px;
  width: 358px;
  height: 22px;
}

.greeting-search-input {
  margin-bottom: 10px;
}

.greeting-date-range-picker {
  width: 385px;
}
// .DateRangePicker_d1ib85 {
// }

.greeting-adults-wrapper, .greeting-children-wrapper {
  display: flex;
  flex-direction: column;
}

.greeting-adults, .greeting-children {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       // remove default arrow 

  background: white;
  border: 1px solid #dfe0e6;
  height: 48px;
  border-radius: 2px;
  width: 192px;
  position: relative;
  // top: -34px;
  // left: -2px;
  padding: 10px;
  font-size: 14px;
  color: gray;
}

.greeting-select:focus {
  outline: none;
}

.greeting-guests {
  display: flex;
}

.greeting-search-button {
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: #FF5A5F;
  border: 1px solid transparent;
  // border-radius: 5px;
  margin-top: 10px;
  padding: 12px;
  width: 358px;
  height: 20px;
  text-align: center;
}