// DateRangePicker right border not showing NEED FIX
.greeting-date-range-picker {
}

.greeting-adults, .greeting-children {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       // remove default arrow 

  background: white;
  border: 1px solid #dfe0e6;
  height: 48px;
  border-radius: 2px;
  width: 192px;
  position: relative;
  // top: -34px;
  // left: -2px;
  padding: 10px;
  font-size: 14px;
  color: gray;
}

